@import '../reset/reset.scss';

.wrapperMe{
    height: 45vh;
    
    h1{
        font-size: 52px;
        margin-bottom: 10px;
    }

    h2{
        font-size: 30px;
        text-align: center;
    }
}